// Reset

* {
    all: unset;
}

scale trough {
    all: unset;
    background-color: $color-foreground;
    border-radius: 5px;
    min-width: 80px;
    min-height: 10px;

    highlight {
        border-radius: 5px;
    }
}

// Base Styles
.bar__container {
    padding: 0.25em;
}

.bar__main {
    font-family: Koulen;
    font-size: 1rem;
    color: $color-foreground;
    background-color: $color-background;
    border-radius: 8px;
}

.launcher {
    margin: 0.5rem;
    .icon-launcher {
        padding: 0 1rem;
        border-radius: 8px;
        transition: 150ms linear background-color;
        
        &:hover {
            background-color: $color-blue;
        }
    }
}

.workspaces {
    margin: 0.5rem 0;
    padding: 0 0.5rem;
    border-radius: 8px;

    .btn-workspace {
        padding: 0 0.5rem;
        &.focused {
            color: $color-cyan;
        }

        &.urgent {
            background-color: $color-red;
        }
    }

    &.active {
        border: 1px solid $color-cyan;
    }
}

.clock {
    margin: 0.5rem 0.5rem 0.5rem 0rem;
    border-radius: 8px;

    .icon-clock {
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        padding: 0 0.5rem;
    }

    &.active {
        border: 1px solid $color-cyan;

        .icon-clock {
            color: $color-background;
            background-color: $color-cyan;
        }
    }

    &.time {
        .hour, .minute {
            padding: 0 0.5rem;
            font-size: 1.5rem;
        }
    }

    &.date {
        .date__text {
            padding: 0 0.5rem;
            font-size: 1.5rem;
        }
    }
}

.network {
    margin: 0.5rem 0.5rem 0.5rem 0;
    border-radius: 8px;

    .icon-network {
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        padding: 0 0.5rem;
    }

    &.active {
        border: 1px solid $color-magenta;
        .icon-network {
            color: $color-background;
            background-color: $color-magenta;
        }
    }

    .network-stats {
        padding: 0 0.5rem;
        .icon-stats__down, .icon-stats__up {
            font-size: 1.25rem;
        }

        .stats__down, .stats__up {
            font-family: sans-serif;
            font-size: 1rem;
        }
    }
}

.volume {
    margin: 0.5rem 0.5rem 0.5rem 0;
    border-radius: 8px;

    .icon-volume {
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        padding: 0 0.5rem;
    }

    &.active {
        border: 1px solid $color-green;
        .icon-volume {
            color: $color-background;
            background-color: $color-green;
            transition: 100ms linear color;

            &:hover {
                color: $color-foreground;
            }
        }
    }

    .volume__bar {
        margin: 0 0.5rem;
    }
}

.battery {
  margin: 0.5rem 0;
  padding: 0 0.5rem;
  border-radius: 8px;

  .critical {
    background-color: $color-red;
  }

  .warning {
    background-color: $color-yellow;
  }

  .icon-battery {
    margin-right: 0.3rem;
  }

  .icon-adapter {
    font-size: 0;

    &.connected {
      font-size: 1rem;
    }
  }
}

.power {
    margin: 0.5rem 0.5rem 0.5rem 0;
    border-radius: 8px;

    .btn-shutdown {
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        padding: 0 0.5rem;
    }

    &.active {
        border: 1px solid $color-red;
        .btn-shutdown {
            color: $color-background;
            background-color: $color-red;
            transition: 100ms linear color;

            &:hover {
                color: $color-foreground;
            }
        }
    }

    .btn-reboot, .btn-logout {
        padding: 0 0.5rem;
        transition: 100ms linear color;

        &:hover {
            color: $color-red;
        }
    }
}

// Icon Font & Sizing
.icon-launcher,
.icon-clock,
.icon-network,
.icon-volume {
    font-family: $font-1;
    font-size: 1.5rem;
}

.icon-battery, .icon-adapter {
    font-family: $font-1;
    font-size: 1rem;
}

.btn-workspace {
    font-family: $font-1;
    font-size: 1.25rem;
}

.btn-shutdown, .btn-reboot, .btn-logout {
    font-family: $font-1;
    font-size: 1.5rem;
}

// Bars
.volume__bar {
    scale trough highlight {
        transition: 150ms linear background-color;
    }

    &.green {
        scale trough highlight {
            background-color: $color-green;
        }
    }
    &.yellow {
        scale trough highlight {
            background-color: $color-yellow;
        }
    }
    &.red {
        scale trough highlight {
            background-color: $color-red;
        }
    }
}
