// Reset

* {
    all: unset;
}

scale trough {
    all: unset;
    background-color: $color-foreground;
    border-radius: 5px;
    min-height: 80px;
    min-width: 10px;

    highlight {
        border-radius: 5px;
    }
}

// Base Styles
.bar__container {
    padding: 0.25em;
}

.bar__main {
    font-family: $font-0;
    font-size: 1rem;
    color: $color-foreground;
    background-color: $color-background;
    border-radius: $border-radius;
}

.app-launcher {
  .icon-app-launcher {
    padding: 0 0.5rem;
    border-radius: $border-radius;
    transition: 150ms linear background-color;

    &:hover {
      background-color: $color-launcher;
    }
  }
}

.workspaces {
    margin-top: 0.5rem;
    border-radius: $border-radius;

    .btn-workspace {
        padding: 0 0.5rem;
        &.focused {
            color: $color-workspace;
        }

        &.urgent {
            background-color: $color-critical;
        }
    }

    &.active {
        border: 2px solid $color-workspace;
    }
}

.clock {
    margin-bottom: 0.5rem;
    border-radius: $border-radius;

    .icon-clock {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    &.active {
        border: 2px solid $color-datetime;

        .icon-clock {
            color: $color-background;
            background-color: $color-datetime;
        }
    }

    &.time {
        .hour, .minute {
            font-size: 2rem;
        }
    }

    &.date {
        .month {
            font-size: 1.5rem;
        }

        .day {
            font-size: 2rem;
        }

        .year {
            font-size: 1rem;
        }
    }
}

.network {
    margin-bottom: 0.5rem;
    border-radius: $border-radius;

    .icon-network {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    &.active {
        border: 2px solid $color-network;
        .icon-network {
            color: $color-background;
            background-color: $color-network;
        }
    }

    .network-stats {
        padding: 0.5rem 0;
        .icon-stats__down, .icon-stats__up {
            font-size: 2rem;
            font-family: $font-1;
        }

        .stats__down, .stats__up {
            font-family: sans-serif;
            font-size: 0.6rem;
        }
    }
}

.volume {
    margin-bottom: 0.5rem;
    border-radius: $border-radius;

    .icon-volume {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    &.active {
        border: 2px solid $color-sound;
        .icon-volume {
            color: $color-background;
            background-color: $color-sound;
            transition: 100ms linear color;

            &:hover {
                color: $color-foreground;
            }
        }
    }

    .volume__bar {
        margin: 0.5rem 0;
    }
}

.battery {
  margin-bottom: 0.5rem;
  border-radius: $border-radius;
  transition: 150ms linear background-color;

  &.active {
    background-color: $color-battery;
  }

  &.critical {
    animation-name: critical-blink;
    animation-direction: alternate;
    animation-duration: 300ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
  }

  &.warning {
    animation-name: warning-blink;
    animation-direction: alternate;
    animation-duration: 600ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
  }

  .icon-adapter {
    margin-top: -0.2rem;
    font-size: 0;

    &.connected {
      font-size: 1.5rem;
    }
  }
}

.power {
    border-radius: $border-radius;

    .btn-shutdown {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    &.active {
        border: 2px solid $color-power;
        .btn-shutdown {
            color: $color-background;
            background-color: $color-power;
            transition: 100ms linear color;

            &:hover {
                color: $color-foreground;
            }
        }
    }

    .btn-reboot, .btn-logout {
        transition: 100ms linear color;

        &:hover {
            color: $color-power;
        }
    }
}

// Icon Font & Sizing
.icon-app-launcher,
.icon-launcher,
.icon-clock,
.icon-network,
.icon-volume {
    font-family: $font-1;
    font-size: 2.5rem;
}

.icon-battery, .icon-adapter {
    font-family: $font-1;
    font-size: 3rem;
}

.btn-workspace {
    font-family: $font-1;
    font-size: 1.25rem;
}

.btn-shutdown, .btn-reboot, .btn-logout {
    font-family: $font-1;
    font-size: 2.5rem;
}

// Bars
.volume__bar {
    scale trough highlight {
        transition: 150ms linear background-color;
    }

    &.green {
        scale trough highlight {
            background-color: $color-sound;
        }
    }
    &.yellow {
        scale trough highlight {
            background-color: $color-warning;
        }
    }
    &.red {
        scale trough highlight {
            background-color: $color-critical;
        }
    }
}

@keyframes warning-blink {
  0% {
    background-color: $color-background;
  }
  100% {
    background-color: $color-warning;
  }
}

@keyframes critical-blink {
  0% {
    background-color: $color-background;
  }
  100% {
    background-color: $color-critical;
  }
}
